@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}
h2{
  font-size: 2.5rem;
  font-family: 'Caveat Brush', cursive;
}
p{
  font-family: 'Poppins', sans-serif;
}
input{
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
  
  h1{
    font-size: 2rem;
  }
}